*
{
margin: 0;
padding: 0;
}
/*---------Navigation------*/
#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar-brand img
{
height: 40px;
padding-left: 30px;
}
.navbar-nav li
{
padding: 0 10px;
}
.navbar-nav li a
{
float: right;
text-align: left;
}
#nav-bar ul li a:hover
{
 color: #007bff !important;
}
.navbar
{ 
background:hsl(0, 20%, 50%);
}
.navbar-toggler
{ 
border:none !important
}
.nav-link
{
color: #555;
font-weight:600;
font-size: 16px;
}
/**----slider-----*/
#slider
{ 
width:100%
}
.carousel-caption
{
top: 50%;
tranform: translateY(-50%);
bottom: initial !important;
}
.carousel-caption h4
{
color: #fff;
font-size:  42px;
}
/*-----about-----*/
{
padding-top: 50px;
padding-bottom:50px;
color: #555;
}
#about .btn
{
margin-top:  20px;
margin-bottom: 30px;
}
.about-context
{
padding-top: 20px;
}
.skills-bar p
{
margin-bottom:6px;
font-weight:600;
}
.progress-bar
{
border-radius: 16px;
}
.progress
{
border-radius: 16px !important;
margin-bottom: 20px;
}
/*-----services----*/
#services
{
background-image: linear-gradient(rgda(0,0,0,0.8),rgda(0,0,0,0.8),url(img/services.jpg))
background-size: cover;
background-position: center;
color: #MediumSeaGreen !important;
background-attachment: fixed;
padding-top: 50px;
padding-bottom: 50px;
}
#services h1
{ text-align: center;
color: DodgerBlue !important;
padding-bottom: 10px;
}
#services h1:: after
{
content: ' ';
background:DodgerBlue;
display: block;
width: 170px;
margin: 20px auto 5px; 
}
.service{
margin-top:40px;
}
.icon{
font-size:40px;
margin: 20px auto;
padding: 20px;
height: 80px;
border: 1px solid #6a5acd;
border-radius: 50%;
}
#services p
{
font-size;14px;
margin-top:20px;
color:rgb(255, 165, 0);
}
.services .col-md-3:hover{
background: rgb(120, 120, 120);
cursor:pointer;
transition: 0.7s;
}
/*-----Team Members---*/
. team
{
padding-top: 50px;
padding-bottom:50px;
color: #555;
}
h1{
text-align: center;
color: #555 !important;
padding-bottom:10px;
}
h1::after
{
content:' ';
background: #007bff;
display:vlock;
height: 3px;
width: 170px;
margin: 20px auto 5px;
}
.profile-pic
{
margin-top:25px;
}
.profile-pic .img-box
{
opacity: 1;
display:block;
position: relative;
}
/*---promo--*/
#promo
{
background-image: linear-gradient(rgba(0, 0, 0,0.7),rgb(0, 0, 0,0.7)),url(img/promo.jpg);
background-position:center;
color: #fff;
background-attachment: fixed;
text-align:center;
padding: 100px;
font-size: 38px;
}
/*----price plans---*/
#price
{
padding:40px 0;
background:#efefef;
}
.single-price
{
margin: 10px auto;
display: inline;
float:left;
width: 100%
background-color:#fff;
transition: 0.5s;
}
.single-price:hover
{
box-shadow: 0 2px 20px #000000;
}
.price-head
{
background-color:#2196f3;
display: inline;
float:left;
padding:10px 5px;
text-align:center;
width:100%
}
.price-head h2
{
color:#fff;
font-size:30px;
font-weight:bold;
margin-bottom:5px;
padding: 5px;
text-transform:uppercase;
}
.price-head p
{
font-size:25px;
color:#ccc;
font-weight:bold;
line-height: 30px;
}
#price span
{
font-size:15px;
}
.price-content{
display:inline;
float: left;
width:100%;
padding:0 15px;
}
.price-content ul li
{
border-bottom: 1px solid #efefef;
padding: 10px 5px;
list-style:none;
}
ul li:last-child
{
border: nne;
}
 .fa-check-circle
 {
 color:green;
 margin-right:10px;
 font-size:20px;
 }
  .fa-times-circle
  {
  color:red;
  margin-right:10px;
  font-size:20px;
  }
  .price-button{
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width:100%;
  }
  .buy-btn{
  background-color:rgb(255, 165, 0);
  border-radius:3px;
  display:inline-block;
  font-size: 15px 50px;
  transition: 0.5s;
  }
.buy-btn:hover{
border-color: 1px solid #fff;
background-color:#3f51b5;
}
a
{
text-decoration: none !important;
color: #fff !important;
}
/*---testimonials---*/
#testimonials
{
padding-top:50px;
padding-bottom: 50px;
}
#testimonials .row
{
margin-top:30px;
}
.col-md-4
{
margin: 40px auto;
}
.profile
{
padding: 50px 10px 10px;
background-color: #efefef;
}
.user
{
width:120px;
height: 120px;
border-radius: 50%;
}
.profile img
{
top:-60px;
position: absolute;
left: calc(50% - 60px);
border: 10px solid #fff;
}
.profile h3
{
font-size:20px;
margin-top: 15px;
color: #007bff;
}
#testimonial span
{
font-size:12px;
color: #333;
}
blockquote
{
font-size:16px;
line-height: 30px;
}
.profile:hover
{
box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
cursor: pointer;
transition: 0.5s;
}
/*----get in touch--*/
#contact
{
background:#efefef;
padding-top:40px;
padding-bottom:40px;
color: #777;
}
.contact-form
{
padding:15px;
}
.form-control
{
border-radius: 0 !important;
border: none !important;
}
: :placeholder
{
color:#999 !important;
}
.follow
{
background:#fff;
padding:10px;
margin: 15px;
}
.contact-info .fa
{
margin: 10px;
color:#007bff;
font-weight: bold;
}
/*---footer---*/
#footer
{
background:#333;
color:#fff;
padding:12px;
}
.fa-heart-o
{
margin:3px;
color:red;
}
